<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>

<p class="fieldset-legend"><tmpl_var name="list_head_txt"></p>
<div class="table-wrapper marginTop15">
<table class="table">
	<thead class="dark form-group-sm">
		<tr>
			<th data-column="finding_state"><tmpl_var name="finding_state_txt"></th>
			<th data-column="severity"><tmpl_var name="severity_txt"></th>
			<th data-column="domain"><tmpl_var name="domain_txt"></th>
			<th data-column="rule_id"><tmpl_var name="rule_id_txt"></th>
			<th data-column="file_path"><tmpl_var name="file_path_txt"></th>
			<th data-column="last_seen"><tmpl_var name="last_seen_txt"></th>
			<th class="small-col text-right">{tmpl_var name='search_limit'}</th>
		</tr>
		<tr>
			<td><select class="form-control" name="search_finding_state">{tmpl_var name='search_finding_state'}</select></td>
			<td><select class="form-control" name="search_severity">{tmpl_var name='search_severity'}</select></td>
			<td><input class="form-control" type="text" name="search_domain" value="{tmpl_var name='search_domain'}" /></td>
			<td><input class="form-control" type="text" name="search_rule_id" value="{tmpl_var name='search_rule_id'}" /></td>
			<td><input class="form-control" type="text" name="search_file_path" value="{tmpl_var name='search_file_path'}" /></td>
			<td>&nbsp;</td>
			<td class="text-right">
				<button type="button" class="btn btn-default formbutton-default formbutton-narrow" name="Filter" id="Filter"
					value="{tmpl_var name='filter_txt'}" data-submit-form="pageForm"
					data-form-action="sites/malwatch_finding_list.php"><span class="icon icon-filter"></span></button>
			</td>
		</tr>
	</thead>
	<tbody>
		<tmpl_loop name="records">
		<tr>
			<td>{tmpl_var name="finding_state"}</td>
			<td>{tmpl_var name="severity"}</td>
			<td><a href="#" data-load-content="sites/malwatch_site_show.php?id={tmpl_var name='parent_domain_id'}">{tmpl_var name="domain"}</a></td>
			<td>{tmpl_var name="rule_id"}</td>
			<td><small><code>{tmpl_var name="file_path"}</code></small></td>
			<td>{tmpl_var name="last_seen"}</td>
			<td class="text-right">
				<div class="buttons icons16">
					<a class="btn btn-default formbutton-default formbutton-narrow" href="#"
						data-load-content="sites/malwatch_site_show.php?id={tmpl_var name='parent_domain_id'}">{tmpl_var name="open_txt"}</a>
				</div>
			</td>
		</tr>
		</tmpl_loop>
		<tmpl_unless name="records">
		<tr><td colspan="7"><tmpl_var name="no_records_txt"></td></tr>
		</tmpl_unless>
	</tbody>
	<tfoot>
		<tr><td colspan="7"><tmpl_var name="paging"></td></tr>
	</tfoot>
</table>
</div>
